@import './Assets/styles/reset.css';
@import './Assets/styles/variables.css';
@import './Assets/styles/fonts.css';
@import './Assets/styles/grid-system.css';
@import './Assets/styles/utilites.css';


/* Styles  */

/* @_@===========Navbar===========@_@  */

.navbar__menu-items > li {
  margin: 0 var(--mx-4);
}

.navbar__menu-items > li > a {
  font-family: var(--font-YekanBakh-Medium);
  font-weight: var(--f-weight-500);
  font-size: var(--fs-base);
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: var(--text-slate-950);
}

.navbar__login > .navbar__login-link {
  font-family: var(--font-YekanBakh-Medium);
  font-weight: 500;
  font-size: var(--fs-base);
  line-height: 24px;
  letter-spacing: 0%;
  color: var(--text-teal-600);
}

.navbar__left-shopping-icon {
  border: 1px solid var(--gray-200);
  border-radius: 1rem;
}

.navbar__login {
  border: 1px solid var(--text-teal-600);
  border-radius: 1rem;
}