@import './Assets/styles/reset.css';
@import './Assets/styles/variables.css';
@import './Assets/styles/fonts.css';
@import './Assets/styles/grid-system.css';
@import './Assets/styles/utilites.css';


/* Styles  */

/* @_@===========Navbar===========@_@  */

.header {
  background-color: var(--gray-200);
}

.navbar__menu-items > li {
  margin: 0 var(--mx-4);
}

.navbar__menu-items > li > a {
  font-family: var(--font-YekanBakh-Medium);
  font-weight: var(--f-weight-500);
  font-size: var(--fs-base);
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: var(--text-slate-950);
  transition: all 150ms ease-in-out;
}

.navbar__menu-items > li > a:hover {
  color: var(--text-teal-600);
}

/* @_@===========Sub Menu===========@_@  */

.products-submenu {
  background-color: var(--bg-white);
  top: 100%;
  /* display: none;
  opacity: 0;
  visibility: hidden; */
}

.navbar__menu-items:nth-child(2):hover > .products-submenu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.products-submenu__item {
  font-family: var(--font-YekanBakh-Medium);
  font-weight: 500;
  font-size: var(--fs-base);
  line-height: 24px;
  color: var(--text-slate-950);
  background-color: var(--bg-white);
  transition: all 150ms ease-in-out;
}

.products-submenu__item:hover {
  background-color: var(--gray-400);
  color: var(--text-white);
}

.products-submenu__item  svg {
  transform: rotate(-90deg);
}

.men-shoes {
  right: 100%;
  top: 0;
  background-color: var(--bg-slate-950);
  padding: 20px 0 25px;
}

.men-shoes__item {
  font-family: var(--font-YekanBakh-Medium);
  font-weight: 500;
  font-size: var(--fs-xs);
  line-height: 24px;
  color: var(--gray-200);
  transition: all 150ms ease-in-out;
}

.men-shoes__item:hover {
  color: var(--text-slate-950);
  background-color: var(--gray-200);
}

/* @_@===========Login and Shopping card===========@_@  */

.navbar__login > .navbar__login-link {
  font-family: var(--font-YekanBakh-Medium);
  font-weight: var(--f-weight-500);
  font-size: var(--fs-base);
  line-height: 24px;
  letter-spacing: 0%;
  color: var(--text-teal-600);
}

.navbar__login {
  border: 1px solid var(--text-teal-600);
  border-radius: 1rem;
}

.navbar__left-shopping-card {
  border: 1px solid var(--gray-400);
  border-radius: 1rem;
  cursor: pointer;
  background-color: var(--gray-200);
}

.badge-card {
  background-color: var(--text-teal-600);
  border-radius: 50%;
  color: var(--text-white);
  line-height: 24px;
  font-family: var(--font-YekanBakh-Medium);
  border: 2px solid var(--gray-200);
}



/* @_@===========Main===========@_@  */

.main-wrapper {
  background-color: var(--text-teal-600);
  height: 338px;
  border-radius: 16px;
  margin-top: 48px;
}