/* Grid System  */

@import './reset.css';

.container {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.row > * {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 3rem;
}

.col {
  max-width: 100%;
  flex-grow: 1;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333%;
}
.col-2 {
  flex: 0 0 auto;
  width: 16.6666%;
}
.col-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-4 {
  flex: 0 0 auto;
  width: 33.3333%;
}
.col-5 {
  flex: 0 0 auto;
  width: 41.6666%;
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-7 {
  flex: 0 0 auto;
  width: 58.3333%;
}
.col-8 {
  flex: 0 0 auto;
  width: 66.6666%;
}
.col-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-10 {
  flex: 0 0 auto;
  width: 83.3333%;
}
.col-11 {
  flex: 0 0 auto;
  width: 91.6666%;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}


@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .col-sm-1 {
  flex: 0 0 auto;
  width: 8.3333%;
}
.col-sm-2 {
  flex: 0 0 auto;
  width: 16.6666%;
}
.col-sm-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-sm-4 {
  flex: 0 0 auto;
  width: 33.3333%;
}
.col-sm-5 {
  flex: 0 0 auto;
  width: 41.6666%;
}
.col-sm-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-sm-7 {
  flex: 0 0 auto;
  width: 58.3333%;
}
.col-sm-8 {
  flex: 0 0 auto;
  width: 66.6666%;
}
.col-sm-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-sm-10 {
  flex: 0 0 auto;
  width: 83.3333%;
}
.col-sm-11 {
  flex: 0 0 auto;
  width: 91.6666%;
}
.col-sm-12 {
  flex: 0 0 auto;
  width: 100%;
}
  
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-md-1 {
  flex: 0 0 auto;
  width: 8.3333%;
}
.col-md-2 {
  flex: 0 0 auto;
  width: 16.6666%;
}
.col-md-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-md-4 {
  flex: 0 0 auto;
  width: 33.3333%;
}
.col-md-5 {
  flex: 0 0 auto;
  width: 41.6666%;
}
.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-md-7 {
  flex: 0 0 auto;
  width: 58.3333%;
}
.col-md-8 {
  flex: 0 0 auto;
  width: 66.6666%;
}
.col-md-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-md-10 {
  flex: 0 0 auto;
  width: 83.3333%;
}
.col-md-11 {
  flex: 0 0 auto;
  width: 91.6666%;
}
.col-md-12 {
  flex: 0 0 auto;
  width: 100%;
}
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-lg-1 {
  flex: 0 0 auto;
  width: 8.3333%;
}
.col-lg-2 {
  flex: 0 0 auto;
  width: 16.6666%;
}
.col-lg-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-lg-4 {
  flex: 0 0 auto;
  width: 33.3333%;
}
.col-lg-5 {
  flex: 0 0 auto;
  width: 41.6666%;
}
.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-lg-7 {
  flex: 0 0 auto;
  width: 58.3333%;
}
.col-lg-8 {
  flex: 0 0 auto;
  width: 66.6666%;
}
.col-lg-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-lg-10 {
  flex: 0 0 auto;
  width: 83.3333%;
}
.col-lg-11 {
  flex: 0 0 auto;
  width: 91.6666%;
}
.col-lg-12 {
  flex: 0 0 auto;
  width: 100%;
}
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .col-xl-1 {
  flex: 0 0 auto;
  width: 8.3333%;
}
.col-xl-2 {
  flex: 0 0 auto;
  width: 16.6666%;
}
.col-xl-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-xl-4 {
  flex: 0 0 auto;
  width: 33.3333%;
}
.col-xl-5 {
  flex: 0 0 auto;
  width: 41.6666%;
}
.col-xl-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-xl-7 {
  flex: 0 0 auto;
  width: 58.3333%;
}
.col-xl-8 {
  flex: 0 0 auto;
  width: 66.6666%;
}
.col-xl-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-xl-10 {
  flex: 0 0 auto;
  width: 83.3333%;
}
.col-xl-11 {
  flex: 0 0 auto;
  width: 91.6666%;
}
.col-xl-12 {
  flex: 0 0 auto;
  width: 100%;
}
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .col-2xl-1 {
  flex: 0 0 auto;
  width: 8.3333%;
}
.col-2xl-2 {
  flex: 0 0 auto;
  width: 16.6666%;
}
.col-2xl-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-2xl-4 {
  flex: 0 0 auto;
  width: 33.3333%;
}
.col-2xl-5 {
  flex: 0 0 auto;
  width: 41.6666%;
}
.col-2xl-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-2xl-7 {
  flex: 0 0 auto;
  width: 58.3333%;
}
.col-2xl-8 {
  flex: 0 0 auto;
  width: 66.6666%;
}
.col-2xl-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-2xl-10 {
  flex: 0 0 auto;
  width: 83.3333%;
}
.col-2xl-11 {
  flex: 0 0 auto;
  width: 91.6666%;
}
.col-2xl-12 {
  flex: 0 0 auto;
  width: 100%;
}
}