/* Reset  */

@import './variables.css';
@import './fonts.css';

html {
  font-size: 62.5%; /* 10px */
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: YekanBakh-Medium;
  font-size: 1.6rem;
  line-height: 1.5rem;
  background-color: var(--bg-white);
  color: var(--text-slate-950);
}