/* Utitlites  */

/* @_@===========Sizing===========@_@ */

/* Display  */

.hidden {
  display: none;
}
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}
/* Height  */
.h-full {
  height: 100%;
}

.h-4 {
  height: 16px;
}

.h-6 {
  height: 24px;
}

.h-12 {
  height: 48px;
}

.h-20 {
  height: 80px;
}

/* Width  */

.w-full {
  width: 100%;
}

.w-6 {
  width: 24px;
}

.w-4 {
  width: 16px;
}

.w-12 {
  width: 48px;
}

.w-36 {
  width: 144px;
}

.max-w-360 {
  max-width: 1440px;
}

/* Margin  */
.mr-2 {
  margin-right: 8px;
}

.mr-5 {
  margin-right: 20px;
}

.ml-5 {
  margin-left: 20px;
}

.mx-6 {
  margin-left: 24px;
}