/* Utitlites  */

/* @_@===========Sizing===========@_@ */

/* Display, Opacity, Visibility  */

.hidden {
  display: none;
}
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-y-3 {
  row-gap: 12px;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.opacity-0 {
  opacity: 0;
}
.unvisible {
  visibility: hidden;
}

/* Height  */

.h-full {
  height: 100%;
}

.h-4 {
  height: 16px;
}

.h-6 {
  height: 24px;
}

.h-12 {
  height: 48px;
}

.h-20 {
  height: 80px;
}

.h-72 {
  height: 288px;
}

/* Width  */

.w-full {
  width: 100%;
}

.w-4 {
  width: 16px;
}

.w-5 {
  width: 20px;
}

.w-6 {
  width: 24px;
}

.w-12 {
  width: 48px;
}

.w-35 {
  width: 142px;
}

.w-36 {
  width: 144px;
}

.w-50 {
  width: 200px;
}

.w-60 {
  width: 240px;
}

.max-w-360 {
  max-width: 1440px;
}

/* Margin  */

.mr-2 {
  margin-right: 8px;
}

.mr-4 {
  margin-right: 16px;
}

.mr-5 {
  margin-right: 20px;
}

.ml-2 {
  margin-left: 8px;
}

.ml-4 {
  margin-left: 16px;
}

.ml-5 {
  margin-left: 20px;
}

.mx-6 {
  margin-left: 24px;
}

/* Padding  */
.px-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.pr-5 {
  padding-right: 20px;
}

/* Position  */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.-inset-t-r-2 {
  top: -8px;
  right: -8px;
}

/* Overflow  */
.overflow-hidden {
  overflow: hidden;
}