/* Variables  */

:root {
  /* Colors  */
  --bg-white: #ffffff;
  --bg-teal-600: #2EC4B6;
  --text-slate-950: #1D2939;
  --text-teal-600: #2EC4B6;
  --text-gray-700: #2EC4B6;
  --text-white: #ffffff;
  /* Sizing  */
}